/.config/*
!/.config/bspwm
!/.config/htop
!/.config/mpd
!/.config/ncmpcpp
!/.config/neofetch
!/.config/picom
!/.config/polybar
!/.config/sxhkd

/.local/*
!/.local/bin
/.local/bin/*
!/.local/bin/dwmbar
