[submodule "src/st"]
	path = src/st
	url = https://github.com/lannuttia/st
	branch = master
[submodule "src/dwm"]
	path = src/dwm
	url = https://github.com/lannuttia/dwm
	branch = master
[submodule "src/dwmblocks"]
	path = src/dwmblocks
	url = https://github.com/lannuttia/dwmblocks
	branch = master
[submodule "src/xssstate"]
	path = src/xssstate
	url = https://github.com/lannuttia/xssstate.git
	branch = master
[submodule "src/slock"]
	path = src/slock
	url = https://github.com/lannuttia/slock.git
	branch = master
[submodule "src/dmenu"]
	path = src/dmenu
	url = https://github.com/lannuttia/dmenu.git
	branch = master
