[submodule ".local/src/Xresources-themes"]
	path = .local/src/Xresources-themes
	url = https://github.com/logico-dev/Xresources-themes.git
    branch = master
[submodule ".config/alacritty/colorschemes/dracula"]
	path = .config/alacritty/colorschemes/dracula
	url = https://github.com/dracula/alacritty.git
	branch = master
[submodule ".vim/pack/git-plugins/start/ale"]
	path = .vim/pack/git-plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
	branch = master
[submodule ".vim/pack/git-plugins/start/editorconfig-vim"]
	path = .vim/pack/git-plugins/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
	branch = master
[submodule ".vim/pack/git-plugins/start/dracula-vim"]
	path = .vim/pack/git-plugins/start/dracula-vim
	url = https://github.com/dracula/vim.git
	branch = master
[submodule ".vim/pack/git-plugins/start/vim-airline"]
	path = .vim/pack/git-plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
	branch = master
[submodule ".vim/pack/git-plugins/start/nerdtree"]
	path = .vim/pack/git-plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
	branch = master
[submodule ".local/src/eclipse.jdt.ls"]
	path = .local/src/eclipse.jdt.ls
	url = https://github.com/eclipse/eclipse.jdt.ls.git
	branch = master
[submodule ".vim/pack/git-plugins/start/deoplete.nvim"]
	path = .vim/pack/git-plugins/start/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
	branch = master
[submodule ".vim/pack/git-plugins/start/nvim-yarp"]
	path = .vim/pack/git-plugins/start/nvim-yarp
	url = https://github.com/roxma/nvim-yarp
	branch = master
[submodule ".vim/pack/git-plugins/start/vim-hug-neovim-rpc"]
	path = .vim/pack/git-plugins/start/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc
	branch = master
