command_exists() {
  command -v "$@" >/dev/null 2>&1
}

start_pulseaudio() {
  pulseaudio --check || pulseaudio --start
}

start_compositor() {
  if command_exists picom; then
    pidof picom || picom -b
  elif command_exists compton; then
    pidof compton || compton -b
  elif command_exists xcompmgr; then
    pidof xcompmrg || xcompmgr &
  fi
}

start_unclutter() {
  if command_exists unclutter; then
    pidof unclutter || unclutter &
  fi
}

start_dwmbar() {
  if command_exists dwmbar; then
    pidof dwmbar || dwmbar &
  fi
}

start_mpd() {
  if command_exists mpd; then
    pidof mpd || mpd
  fi
}

start_dwmblocks() {
  if command_exists dwmblocks; then
    pidof dwmblocks || dwmblocks &
  fi
}

start_xsautolock() {
  if command_exists xsidle; then
    xset s 600
    pidof xsidle || xsidle slock &
  fi
}

case $XDG_SESSION_DESKTOP in
  dwm|bspwm|'')
    start_pulseaudio
    start_mpd
    start_dwmblocks
    start_compositor
    start_unclutter
    start_xsautolock
    ${HOME}/.fehbg
    ;;
  default)
    # Do nothing
    ;;
esac
