#include "./.local/src/Xresources-themes/base16-dracula-256.Xresources"

Xft.dpi:                `128
Xft.rgba:                rgba
Xft.antialias:           1
Xft.hinting:             1
Xft.autohint:            0
Xft.hintstyle:           hintslight

*.font: xft:Liberation Mono:style=regular:antialias=true:autohint=true:size=10, \
        xft:Unifont Upper:style=Medium:antialias=true:autohint=true:size=10, \
        xft:Font Awesome 5 Free Solid:style=solid:antialias=true:autohint=true:size=10, \
        xft:Font Awesome 5 Brands Regular:style=Regular:antialias=true:autohint=true:size=10

dmenu.selbackground: base08
dmenu.font: xft:Liberation Mono:style=regular:antialias=true:autohint=true:size=10
